.Global_Book_Service, .Global_phone_number1, .RedButton {
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700
}


/*Blue - #00f */
/*Orange - #f88f19 */
/*Brick - #BC4A3C  */
/*Brick:hover - #8E1C0E  */


#navbarMenu, .font-Roboto-Bold, .navbaTop {
    
}
.Top-Main-Block .ul-main li, .Top-Main-Block .ul-main-normal li, .global-ul-main li {
    text-indent: -16px;
    margin: 14px 0;
    padding-left: 40px
}
.List-Of-Areas li, .global-ul-main, .ul-list-of-advantages {
    list-style-type: none
}
.Book-Page.Contacts .TechnicianDetails .Row a:link, body {
    color: #333
}

@font-face {
    font-family: Lato-Regular;
    font-style: normal;
    src: local("Lato-Regular"),url("/fonts/Lato-Regular.woff2") format("woff2");
    font-display: swap
}
@font-face {
    font-family: Lato-Light;
    font-style: normal;
    src: local("Lato-Light"),url("/fonts/Lato-Light.woff2") format("woff2");
    font-display: swap
}
@font-face {
    font-family: Lato-Italic;
    font-style: normal;
    src: local("Lato-Italic"),url("/fonts/Lato-Italic.woff2") format("woff2");
    font-display: swap
}
@font-face {
    font-family: Lato-Bold;
    font-style: normal;
    src: local("Lato-Bold"),url("/fonts/Lato-Bold.woff2") format("woff2");
    font-display: swap
}

body {
    margin: 0;
    font-family: Lato-Regular, Arial;
    font-size: 14px;
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background: url(/files/row_bg.png) #e8e8e8
}
h1, h2, h3 {
    font-weight: 700 !important
}
.MainWidth {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #fff
}
#List_Advantages, #navbarMenu .RightParallelogramm, .Top-Promo-Block, .navbaTop {
    background-color: #BC4A3C;
}
.MobileMainTopLogo {
    max-width: 80px !important;
    padding: 8px 0
}
:root {
    --primary: #1e60aa;
    --secondary: #ff4917;
    --light: #edf1fc;
    --dark: #17224d
}
.table-data {
    display: table;
    width: 100%;
    border-spacing: 0px
}
.table-data .cell {
    display: table-cell
}
.table-data .row {
    display: table-row
}
.AlignRight {
    text-align: right;
    margin-left: auto
}
.AlignLeft {
    text-align: left;
    margin-left: auto
}
#navbarMenu, .navbaTop {
    margin: 0 auto;
    padding: 0
}
.Global_Book_Service, .Global_phone_number1 {
    padding: 8px 12px;
    display: inline-block
}
.navbaTop .Item {
    margin: 0 8px;
    display: inline-block
}
#navbarCollapse .dropdown-menu a:active, .navbaTop .Item a {
    color: #fff
}
.font-Roboto-Black {
    font-family: Roboto-Black
}
.font-Roboto-Light {
    font-family: Roboto-Light
}
.Global_Book_Service, .Global_phone_number1, .RedButton, .font-Roboto-Regular {
    font-family: Roboto-Regular
}
.ChangeOpacity, .ChangeOpacity_09 {
    opacity: 1;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out
}
.ChangeOpacity:hover {
    opacity: .7
}
.ChangeOpacity_09:hover {
    opacity: .8
}
.Top-Promo-Block {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 700
}
#navbarMenu .Top_AddressBlock {
    text-align: right;
}
#navbarMenu .Top_AddressBlock .Item {
    margin: 0 8px;
    display: inline-block;
    padding: 6px 4px
}
#navbarMenu .Top_AddressBlock a, .List-Of-Areas a, .Sub-Item-link-Global {
    text-decoration: none
}
#navbarMenu .Top_AddressBlock a:hover, .List-Of-Areas a:hover, .footer .botton-links:hover {
    text-decoration: underline
}
#navbarMenu .Top_AddressBlock i {
    margin-right: 2px
}
#navbarMenu .Top_AddressBlock .Item.phone_number {
    color: #ff4917;
    font-family: Roboto-Regular;
    font-weight: 700
}
#navbarMenu .Top_AddressBlock .Item.phone_number a {
    color: #ff4917;
    font-size: 18px;
    text-decoration: none
}
#navbarMenu .Details {
    padding: 6px 0 2px 4px;
    color: #fff;
    display: inline-block;
    float: left
}
.Global_phone_number1 {
    margin-right: 4px;
    font-size: 14px;
    background-color: #ff4917
}
.GlobalClearLink, .Global_Book_Service a, .Global_phone_number1 a, .RedButton a, .RedButton a:hover, .footer .Location-block a, .footer .h4_link {
    color: #fff;
    text-decoration: none
}
.Global_Book_Service .bi-wrench-adjustable::before, .Global_phone_number1 .bi-telephone-fill::before {
    margin-right: 4px
}
.Global_Book_Service {
    font-size: 14px;
    background-color: #0d6efd
}
.RedButton {
    display: inline-block;
    font-size: 14px;
    background-color: #BC4A3C;
    padding: 8px 16px
}
.GlobalContentPadding {
    padding: 20px 40px
}
.GlobalPaddingLeft {
    padding-left: 40px !important;
    line-height: 170%
}
.GlobalPaddingRight {
    padding-right: 40px !important;
    line-height: 170%
}
.GlobalTextJustify {
    text-align: justify
}
.GlobalNumberList li::marker {
    font-size: 18px
}
#navbarMenu .Dicount-Image {
    width: 94px;
    cursor: pointer
}
#navbarMenu .BlockMenu {
    padding-top: 20px
}
#navbarMenu .menu_item {
    display: inline-block;
    position: relative; font-family:"Lato-Bold";
}
#DefDetailsAreas, #MenuNavigate .Popup-submenu, #MobileContacts, #book_state_loading, #navbarCollapse, #navbarCollapse .cell5, #navbarMenu .Popup-submenu, #state_loading, .back-to-top {
    display: none
}
#navbarMenu .menu-phone-number {
    font-size: 18px;
    color: #c5292c;
    text-decoration: none
}
#navbarMenu .menu_item > .ItemMenu {
    text-transform: uppercase;
    padding: 4px 14px;
    cursor: pointer
}
#MenuNavigate .Sub-Item-link:hover, #MenuNavigate .menu_item > .ItemMenu:hover, #navbarCollapse .dropdown-menu a:hover, #navbarMenu .Sub-Item-link:hover, #navbarMenu .menu_item > .ItemMenu:hover, .footer .btn.btn-social:hover {
    color: #f88f19;
}
#navbarMenu .Popup-submenu .Sub-Item {
    border-bottom: 1px solid #ebebeb;
    text-align: left;
    text-decoration: none;
    color: #2e2e2e;
    display: block;
    padding: 6px 8px;
    font-size: 14px
}
#MenuNavigate .Popup-submenu .Sub-Item:hover, #navbarMenu .Popup-submenu .Sub-Item:hover {
    background-color: #e9ecef; color:#f88f19;
}
#MenuNavigate .Popup-submenu .Sub-Item:active, #navbarMenu .Popup-submenu .Sub-Item:active {
    background-color: #BC4A3C; color: #fff;
}
#navbarMenu .menu_item:hover .Popup-submenu {
    position: absolute;
    width: 240px;
    padding: 12px 0 4px;
    left: -20px;
    z-index: 5;
    background-color: #fff;
    box-shadow: 0 8px 10px rgb(0 0 0 / 30%);
    display: block
}
#navbarCollapse .appliance-icon, #navbarMenu .Popup-submenu .appliance-icon {
    width: 24px;
    vertical-align: middle;
    padding-bottom: 2px;
    margin: 0 10px 0 8px
}
#navbarCollapse .area-icon, #navbarMenu .Popup-submenu .area-icon {
    width: 20px;
    vertical-align: middle;
    padding-bottom: 2px;
    margin: 0 6px 0 4px
}
#MenuNavigate .Sub-Item-link, #navbarMenu .Sub-Item-link {
    text-decoration: none;
    color: #2e2e2e
}
#MenuNavigate .Popup-submenu .Brand_Padding, #navbarMenu .Popup-submenu .Brand_Padding {
    padding-left: 14px
}
#MenuNavigate .Popup-submenu .LastElement, #navbarMenu .Popup-submenu .LastElement {
    text-align: right
}
#navbarMenu .fa-phone-alt::before, #navbarMenu .fa-wrench::before {
    margin-right: 6px;
    font-size: 16px
}
.HomeStarLogo {
    width: 90px;
    margin-top: 10px
}
.back-to-top {
    position: fixed;
    right: 45px;
    bottom: 45px;
    z-index: 99
}
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #fff;
    border-radius: 35px;
    transition: .3s
}
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    transition: .3s;
    text-decoration: none
}
.footer .btn.btn-link::before {
    margin-right: 4px;
    vertical-align: middle
}
.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none
}
.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256,256,256,.1)
}
.footer .copyright a {
    color: var(--light);
    margin: 8px 0
}
.footer .bi-facebook::before {
    font-size: 18px;
    margin-top: 4px
}
.footer .bi-instagram::before {
    font-size: 18px;
    margin: 4px 0 0 2px
}
.footer .botton-links {
    margin: 0 8px;
    text-decoration: none
}
.footer .BlockBrand, .footer .BlockCity {
    margin: 4px 14px 2px 0;
    font-size: 12px;
    display: inline-block
}
.footer ul {
    padding: 0
}
.footer .BlockCity {
    width: 40%;
    border-bottom: 1px dotted #9b9b9b
}
.footer .BlockBrand a, .footer .BlockCity a {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}
.footer .BlockCity a:hover {
    color: #ed1c24
}
.footer .BlockBrand {
    vertical-align: top;
    width: 15%
}
.footer .BlockBrand a:hover {
    color: #64a3ff
}
.footer .ul-brands {
    max-height: 420px;
    overflow: auto
}
.footer .ul-brands .item {
    padding: 0 0 4px 14px
}
.footer .Location-block {
    display: inline-block;
    padding: 2px 4px
}
.footer .Location-block a:hover, .footer .h4_link:hover {
    text-decoration: underline;
    cursor: pointer
}
.footer .AddressSplit {
    border-right: 1px solid #cdcdcd;
    padding: 0 14px
}
.footer .Location-block:last-child {
    margin-right: 34px
}
.Top-Main-Block .bi-check-square-fill::before, .global-ul-main .bi-check-square-fill::before {
    color: #ed1c24;
    margin-right: 8px;
    font-size: 18px
}
#navbarCollapse .dropdown-item.menu-padding {
    padding: 10px 30px 10px 4px
}
#navbarCollapse .dropdown-item.area-padding {
    padding: 6px 30px 6px 4px
}
#navbarCollapse .dropdown-menu {
    padding-bottom: 0
}
#section_001 .image_bg, #section_dishwasher .image_bg, #section_dryer .image_bg, #section_freezer .image_bg, #section_fridge .image_bg, #section_oven .image_bg, #section_stove .image_bg, #section_washer .image_bg {
    min-height: 440px;
    padding: 30px 0;
    background-position: top
}
#navbarCollapse .RightPhoneBlock {
    margin-right: 1rem
}
#navbarCollapse .cell {
    vertical-align: middle
}
#navbarCollapse .cell5 img {
    width: 140px
}
.MainTopLogo {
    width: 70px;
    vertical-align: middle;
    margin: 2px 0 4px
}
.Name-Logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px
}
.MainContentBlock .brand-block {
    width: 12vw;
    max-width: 100px;
    height: 6vh;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 8px
}
.MainContentBlock .brand-block:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%
}
.MainContentBlock .brand-block img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-transition: .4s;
    transition: .4s
}
.zoom-effect-container:hover img {
    -webkit-transform: scale(1.06);
    transform: scale(1.06)
}
.bgWhite {
    background-color: #fff
}
.Appliances-Block, .GlobalCenter, .RatingBLock {
    text-align: center
}
h1 {
    margin: 2rem 0 1rem
}
h2 {
    margin: 1.5rem 0 .8rem
}
h3 {
    margin: 1.3rem 0 .6rem
}
h4 {
    margin: 1.3rem 0 .75rem
}
h5 {
    margin: 1.1rem 0 .6rem
}
.container img {
    max-width: 100%
}
.RatingBLock img {
    width: 46px !important;
    margin: 0 auto
}
.HeadClearBoth {
    clear: both
}
.MainContentBlock {
    margin: 20px 0
}
.MainContentBlock .image-block-float-right {
    float: right;
    padding: 0 20px;
    text-align: center
}
.MainContentBlock .image-block-float-left {
    float: left;
    padding: 0 20px;
    text-align: center
}
.Global-image-block-float-right {
    float: right;
    padding: 0 20px;
    text-align: center
}
.MainContentBlock .image-block-float-left {
    float: left;
    padding: 0 20px;
    text-align: center
}
.Global-image-block-float-left {
    float: left;
    padding: 0 20px;
    text-align: center
}
.txt_in_all_incorr {
    background-color: #ffb8b8 !important
}
.txt_in_all_incorr:focus {
    -moz-box-shadow: 0 0 2px #00a0ff;
    -webkit-box-shadow: 0 0 2px #00a0ff;
    box-shadow: 0 0 2px #00a0ff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}
.MainPopup {
    width: 500px;
    height: 360px;
    top: 50%;
    left: 50%;
    position: fixed;
    margin-left: -250px;
    margin-top: -180px;
    background-color: #fff;
    z-index: 11;
    padding: 8px;
    border: 3px solid #f2f2f2;
    display: none
}
.BackFon, .FonPopup {
    position: fixed;
    z-index: 10;
    background-color: #000;
    padding-top: 0;
    top: 0;
    display: none;
    vertical-align: middle;
    height: 100%;
    width: 100%
}
.FonPopup {
    left: 0;
    -moz-opacity: 0.8;
    opacity: .8
}
.BackFon {
    right: 0;
    -moz-opacity: 0.64;
    opacity: .64
}
.Parallelogram {
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg)
}
#section_001 .image_bg { background-image: url(/image/?id=512&show=thumbnail); }
#section_fridge .image_bg {
    background-image: url(/files/bg/fridge_bg.webp)
}
#section_dishwasher .image_bg {
    background-image: url(/files/bg/dishwasher_bg.webp)
}
#section_washer .image_bg {
    background-image: url(/files/bg/washer_bg.webp)
}
#section_dryer .image_bg {
    background-image: url(/files/bg/dryer_bg.webp)
}
#section_stove .image_bg {
    background-image: url(/files/bg/stove_bg.webp)
}
#section_oven .image_bg {
    background-image: url(/files/bg/oven_bg.webp)
}
#section_freezer .image_bg {
    background-image: url(/files/bg/freezer_bg.webp)
}
.fill {
    height: 100%;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 0
}
.bg-fill {
    background-position: 50% 50%;
    background-repeat: no-repeat !important;
    background-size: cover !important
}
#MenuNavigate {
    display: none;
    padding: 20px 10px;
    overflow: auto
}
#MenuNavigate .menu_item {
    position: relative;
    margin: 6px 0
}
#MenuNavigate .menu_item > .ItemMenu {
    text-transform: uppercase;
    font-size: 16px;
    padding: 4px;
    cursor: pointer
}
#MenuNavigate .Popup-submenu .Sub-Item {
    border-bottom: 1px solid #ebebeb;
    text-align: left;
    text-decoration: none;
    color: #2e2e2e;
    display: block;
    padding: 6px 8px;
    font-size: 15px
}
#MenuNavigate .Popup-submenu .appliance-icon {
    width: 26px;
    vertical-align: middle;
    padding-bottom: 2px;
    margin: 0 10px 0 8px
}
#MenuNavigate .Popup-submenu .area-icon {
    width: 22px;
    vertical-align: middle;
    padding-bottom: 2px;
    margin: 0 6px 0 4px
}
.BodyFix {
    overflow: hidden
}
#MobileMenuControll .bi-list::before {
    width: 40px;
    font-size: 36px
}
#MobileMenuControll .bi-x-lg::before {
    width: 40px;
    font-size: 30px
}
.Top-Main-Block {
    margin: 0
}
.Top-Main-Block h1 {
    margin: 0;
    text-transform: uppercase
}
.Top-Main-Block .Right-Image-Section {
    text-align: center;
    margin: 0 auto;
    max-width: 500px
}
.Top-Main-Block .ul-main, .Top-Main-Block .ul-main-normal {
    list-style-type: none;
    font-size: 16px;
    padding: 0;
    margin: 22px 0
}
.Top-Main-Block .ul-main li {
    font-weight: 700
}
.Top-Main-Block .left-block {
    padding-left: 40px
}
.global-ul-main {
    padding: 0;
    margin: 22px 0
}
.global-ul-main .bi-check-square-fill::before {
    vertical-align: bottom
}
.Descriton-Service {
    color: #0d6efd;
    margin: 12px 0 20px;
    font-size: 16px
}
.Right-Image-Section {
    max-width: 50rem
}
.Right-Image-Section::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -1px;
    bottom: -1px;
    border-right: 1.1em solid transparent;
    border-bottom: .07em solid #fff
}
.ul-list-of-advantages, .ul-list-of-advantages li {
    margin: 6px 0
}
#List_Advantages {
    text-align: center;
    padding: 2rem 0;
    color: #fff
}
#List_Advantages h4 {
    margin: 0 0 6px;
    font-size: 18px
}
#List_Advantages .Item {
    width: 200px;
    display: inline-block;
    margin: 6px 4px;
    vertical-align: top
}
#List_Advantages .LeftCell {
    width: 80px;
    vertical-align: middle;
    text-align: center
}
#List_Advantages .RightCell {
    text-align: left;
    font-size: 16px;
    vertical-align: middle
}
#List_Advantages .bi-briefcase::before, #List_Advantages .bi-clock-history::before, #List_Advantages .bi-hand-thumbs-up::before, #List_Advantages .bi-person-vcard::before, #List_Advantages .bi-shield-check::before {
    font-size: 50px;
    color: #fff
}
.WhyChose-UL {
    list-style: none;
    font-size: 18px
}
.WhyChose .bi-briefcase-fill::before, .WhyChose .bi-hand-thumbs-up-fill::before, .WhyChose .bi-person-vcard-fill::before, .WhyChose .bi-shield-check::before {
    color: #0d6efd;
    vertical-align: text-bottom
}
.setion-row {
    padding: 1.5rem 0
}
.setion-row:nth-child(odd) {
    color: #000;
    padding: 1.5rem 0
}
.section-gray-row {
    padding-top: 14px;
    color: #7b7b7b;
    border: 1px solid #dcdcdc;
    background-color: #f0f0f0
}
.Appliances-Block .Item {
    border: 1px solid #cdcdcd;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    margin: 14px 8px;
    background-color: #ffff;
    border-radius: 4px
}
.Appliances-Block .Item:hover {
    -moz-box-shadow: 0 0 8px #cdcdcd;
    -webkit-box-shadow: 0 0 8px #cdcdcd;
    box-shadow: 0 0 8px #b9b9b9;
}
.Appliances-Block .Item:hover .Description-place {
    background-color: #8E1C0E;
    color: #fff;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}
.Appliances-Block .Icon-place {
    background-color: #fff;
    text-align: center;
    width: 240px;
    height: 160px;
    display: table-cell;
    vertical-align: middle;
}
.Appliances-Block .Icon-place img {
    max-width: 100%;
    max-height: 100%
}
.Appliances-Block .Description-place {
    text-align: center;
    padding: 14px 0 30px 4px;
    line-height: 16px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    height: 30px;
    text-decoration: none; background-color: #BC4A3C; color:#fff;
}
.Appliances-Block .Link-place {
    padding-bottom: 14px
}
.Appliances-Block .Troubles {
    font-size: 12px;
    color: #000;
    text-align: left
}
.List-Of-Areas .bi-geo-alt-fill::before {
    color: #ec0c0c;
    margin-right: 6px
}
.Def-ListOfBrands {
    margin: 30px 0
}
.Def-ListOfBrands .brand-block {
    width: 12vw;
    overflow: hidden;
    max-width: 120px;
    text-decoration: none;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    margin: 8px
}
.Book-Page .ItemSelect, .ParentBlockToOpen, .global-service-table .left-cell {
    background-color: #f3f3f3
}
.Def-ListOfBrands .brand-block::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle
}
.Def-ListOfBrands .brand-block img {
    max-width: 90%;
    padding-left: 2px;
    max-height: 80%;
    vertical-align: middle;
    -webkit-transition: .4s;
    transition: .4s
}
#MainPopup_Form0 #Result_Block {
    padding: 30px
}
#MainPopup_Form0 #Result_Block .header-text {
    text-align: center;
    font-size: 26px
}
#MainPopup_Form0 .row-data {
    margin: 12px 0;
    text-align: center
}
#MainPopup_Form0 #resultvalue {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #12aa06
}
.showLoader {
    display: inline-block !important
}
.Book-Page .ItemSelect {
    display: inline-block;
    border: 1px solid #cdcdcd;
    border-radius: 4px
}
.Book-Page .row-data {
    padding: 16px 0;
    border-bottom: 1px solid #ebebeb
}
.Book-Page.Contacts .TechnicianDetails {
    font-size: 18px;
    margin-top: 30px
}
.Book-Page.Contacts .TechnicianDetails .Row {
    padding: 6px 0
}
.Book-Page.Contacts .bi-building-fill-check::before, .Book-Page.Contacts .bi-clock-fill::before, .Book-Page.Contacts .bi-envelope-at-fill::before, .Book-Page.Contacts .bi-telephone-fill::before {
    color: #0d6efd
}
.Global_call_Us {
    text-decoration: underline;
    font-weight: 700
}
.bi-caret-down-fill::before, .bi-caret-right-fill::before {
    font-size: 18px
}
.bi-caret-down-fill, .bi-caret-right-fill {
    margin-left: 8px
}
.ParentBlockToOpen {
    cursor: pointer;
    padding: 6px 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%)
}
.ParentBlockToOpen .TopHeader {
    font-size: 1.5rem
}
.ParentBlockToOpen h2 {
    font-size: 1.2rem
}
.Parent-GlobalRight-Image {
    margin-left: 16px;
    text-align: center;
    float: right
}
.GlobalRight-Image {
    max-width: 240px;
    max-height: 500px
}
.global-service-table {
    width: 100%
}
.global-service-table td {
    border: 1px solid #ebebeb;
    padding: 6px 9px
}
.article h1 {
    font-size: 34px
}
.article .Descriton-Service {
    font-size: 22px
}
.FAQ_Header {
    border: 1px solid #dfdfdf;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    margin: 10px 0;
    padding: 8px 34px 8px 16px;
    border-radius: 4px
}
.FAQ_Header:hover {
    background-color: #f5f5f5
}
.FAQ_Header-Details {
    padding: 4px 22px;
    display: none
}
.FAQ_Header .bi-arrow-right-circle-fill {
    color: #0d6efd;
    font-size: 20px;
    position: absolute;
    top: 6px;
    right: 6px
}
.red-block { padding:4px 12px; text-transform:uppercase; text-align:center; background-color:#c5292c; color:#fff; margin-top:30px; }
.content-right-side { }
.content-right-side .row { margin:14px 0; }
#FullBook {  }
#FullBook .row-data{ margin:14px 0; }
.coupon-image { margin:6px 0; }

.blink_me { animation: blinker 2s linear infinite; }
#TopImg { display:none; }
.DivPhoneT 
{
    position:fixed; right:10%; bottom:5%; border:1px solid white; background-color:#BC4A3C;
    width:64px; height:64px; text-align:center; vertical-align:middle; 
    -moz-border-radius:50px; -webkit-border-radius:50px; border-radius:50px;
    -moz-box-shadow: 0px 0px 18px #BC4A3C;
    -webkit-box-shadow: 0px 0px 18px #BC4A3C;
    box-shadow: 0px 0px 18px #BC4A3C;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    -moz-animation: pulsate 3s ease-out;
    -moz-animation-iteration-count:infinite;
}
.DivPhoneT:hover {
    -webkit-animation-play-state: paused; 
    animation-play-state: paused;
    cursor:pointer;
    -webkit-animation-iteration-count: 0; -webkit-animation-iteration-count: 1; -webkit-animation: ShowImage 0.6s; -moz-animation: ShowImage 0.6s;
    -webkit-animation:RotateImag 1.2s ease-in-out 0.2s infinite alternate;
    -moz-animation:RotateImag 1.2s ease-in-out 0.2s infinite alternate;
    animation:RotateImag 1.2s ease-in-out 0.2s infinite alternate;
}
.GlobalSocialIcons { margin-top:16px; }
.GlobalSocialIcons img { width:32px; margin-right:6px; }
.GlobalSocialIcons a { text-decoration:none; }

.MainPhoneNumber { background-color: #BC4A3C;
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
    line-height: 38px;
    word-spacing: 4px; padding:4px 16px;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    fill: #FFFFFF; color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5); }
.MainPhoneNumber .menu-phone-number { color:#fff !important; }
.bell {
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

.global-show-only-for-phone { visibility:hidden; display:none; }
.global-show-only-for-PC { visibility:visible; display:block; }


@media only screen and (min-width:1001px) and (max-width:1200px) {
    .footer .BlockBrand {
        width: 18%
    }
}

@media only screen and (max-width:1060px) {
    #List_Advantages .Item {
        width: 30%
    }
}

@media only screen and (max-width:1000px) {
    .footer .BlockCity {
        width: 40%
    }

    .footer .BlockBrand {
        width: 20%
    }
}

@media only screen and (max-width:940px) {
    #navbarCollapse .book_service, #navbarCollapse .phone_number1 {
        font-weight: 700;
        cursor: pointer;
        display: inline-block;
        text-transform: uppercase;
        border-radius: 4px;
        padding: 8px 12px;
        font-size: 14px
    }

    #navbarCollapse {
        display: block
    }

    #navbarMenu {
        display: none
    }

    #navbarCollapse .phone_number {
        font-weight: 700;
        color: #ff4917;
        text-align: center;
        vertical-align: middle
    }

    #navbarCollapse .phone_number a {
        color: #ff4917;
        font-size: 18px;
        text-decoration: none
    }

    #navbarCollapse .phone_number1 {
        font-family: Roboto-Regular;
        margin-right: 4px;
        color: #fff;
        background-color: #ff4917;
        margin-left: 10px
    }

    #navbarCollapse .book_service a, #navbarCollapse .phone_number1 a {
        color: #fff;
        text-decoration: none
    }

    #navbarCollapse .bi-telephone-fill::before, #navbarCollapse .fa-wrench::before, #navbarCollapse .phone_number1 .bi-telephone-fill::before {
        margin-right: 6px
    }

    #navbarCollapse .book_service {
        color: #fff;
        background-color: #0d6efd;
        vertical-align: middle
    }

    #navbarCollapse .fa-phone-alt::before {
        margin-right: 6px;
        font-size: 14px
    }

    #navbarCollapse .fa-bars, #navbarCollapse .fa-times {
        margin: 0 6px 0 0;
        vertical-align: middle
    }

    #navbarCollapse .fa-bars::before, #navbarCollapse .fa-times::before {
        font-size: 30px
    }

    #navbarCollapse .cell0 {
        width: 15%
    }

    #navbarCollapse .cell1, #navbarCollapse .cell2 {
        text-align: center
    }

    #navbarCollapse .cell3 {
        width: 10%
    }
}

@media only screen and (max-width:800px) {
    #DefDetailsAreas {
        display: block
    }

    .area-block1, .area-block2, .area-block3 {
        display: none
    }

    .Def-ListOfBrands .brand-block {
        max-height: 160px;
        height: 80px;
        max-width: unset;
        width: 28%
    }

    .footer .BlockCity {
        width: 44%
    }

    .footer .BlockBrand {
        width: 22%
    }

    #List_Advantages .Item {
        width: 60%
    }
}

@media only screen and (max-width:767px) {
    .Parent-GlobalRight-Image {
        float: none;
        margin: 8px auto
    }

    .Parent-GlobalRight-Image img {
        max-width: 100%
    }

    .footer .BlockBrand {
        width: 30%
    }

    .GlobalPaddingLeft {
        padding-left: 0;
        line-height: 170%
    }

    .GlobalPaddingRight {
        padding-right: 0 !important;
        line-height: 170%
    }
    .global-show-only-for-phone { visibility:visible; display:block; }
    .global-show-only-for-PC { visibility:hidden; display:none; }
}

@media only screen and (max-width:700px) {
    .GlobalPaddingLeft {
        padding-left: 20px !important
    }
}

@media only screen and (max-width:600px) {
    .MainContentBlock .image-block-float-left, .MainContentBlock .image-block-float-right {
        float: none !important;
        text-align: center;
        padding: 0
    }

    .MainPopup {
        width: 90vw;
        margin-left: -45vw
    }

    #MainPopup_Form0 #Result_Block .header-text {
        font-size: 20px
    }

    .footer .BlockBrand {
        width: 44%
    }

    .Top-Main-Block .left-block {
        padding-left: 20px
    }

    #navbarCollapse .container {
        padding: 0 20px !important
    }

    #List_Advantages .Item {
        width: 80%
    }

    #section_001 .image_bg, #section_dishwasher .image_bg, #section_dryer .image_bg, #section_freezer .image_bg, #section_fridge .image_bg, #section_oven .image_bg, #section_stove .image_bg, #section_washer .image_bg {
        background-image: none
    }
    
    .global-hide-toll-element { height:300px; overflow:auto; border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; }
}

@media only screen and (max-width:500px) {
    #MobileContacts .cell-0, #MobileContacts .cell-1, #MobileContacts .phone_number {
        text-align: center;
        vertical-align: middle
    }

    #navbarCollapse .container-fluid {
        padding: 0 !important
    }

    #navbarCollapse .cell1, #navbarCollapse .cell2 {
        display: none
    }

    #navbarCollapse .cell5 {
        display: table-cell;
        text-align: center
    }

    #MobileContacts .book_service, #MobileContacts .phone_number1 {
        font-weight: 700;
        cursor: pointer;
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 4px;
        padding: 8px
    }

    #MobileContacts {
        display: block;
        padding: 4px 0 6px
    }

    #MobileContacts .cell-0 {
        width: 50%
    }

    #MobileContacts .phone_number {
        font-weight: 700;
        color: #ff4917
    }

    #MobileContacts .phone_number a {
        color: #ff4917;
        font-size: 18px;
        text-decoration: none
    }

    #MobileContacts .phone_number1 {
        font-family: Roboto-Regular;
        color: #fff;
        background-color: #ff4917
    }

    #MobileContacts .book_service a, #MobileContacts .phone_number1 a {
        color: #fff;
        text-decoration: none
    }

    #MobileContacts .bi-wrench-adjustable::before, #MobileContacts .phone_number1 .bi-telephone-fill::before {
        margin-right: 4px
    }

    #MobileContacts .book_service {
        color: #fff;
        background-color: #0d6efd;
        vertical-align: middle
    }

    .Def-ListOfBrands .brand-block {
        width: 42%
    }

    .footer .BlockCity {
        width: 44%
    }
    .RedButton { padding: 8px 12px; }

}

@media only screen and (max-width:450px) {
    .footer .BlockCity {
        width: 94%
    }
}

@media only screen and (max-width:400px) {
    #MainPopup_Form0 #Result_Block .header-text {
        font-size: 18px
    }

    .Appliances-Block .Item {
        display: block;
        margin: 14px 4px
    }

    .Appliances-Block .Icon-place {
        display: block;
        width: 100%;
        padding-top: 20px
    }

    .Appliances-Block .Description-place {
        width: 100%
    }
    .GlobalContentPadding { padding: 20px 10px; }
}

@media only screen and (max-width:320px) {
    #MainPopup_Form0 #Result_Block .header-text {
        font-size: 16px
    }
}

.block-call-back {
    background: #b30000;
    margin: 0 0 25px 25px;
    padding: 20px 0;
    border-radius: 12px
}
.review-block { text-align:left; }
.review-block .Item {
    border: 1px solid #ebebeb;
    vertical-align: top;
    height: 240px;
    border-radius: 4px;
    margin: 2px 4px;
    padding: 12px 14px;
    display: inline-block;
    width: 48%;
}
.review-block .parent-image {
    position: relative;
    font-weight: 700
}
.review-block .google-icon {
    float: right;
    width: 24px;
    margin: 6px 10px 0 0
}
.review-block .data-details {
    font-size: 12px;
    color: #626262;
    margin: 0 0 6px
}
.review-block .star-block {
    margin: 4px 0
}
.review-block .star-block .bi-star-fill {
    width: 18px
}
.review-block .review-content {
    font-size: 13px;
    margin: 2px 0;
    padding: 6px 0;
    text-align: justify;
    height: 150px;
    overflow: auto;
}


@-webkit-keyframes pulsate {
    0% { -webkit-transform: scale(0.3, 0.3); opacity: 0.0;}
    50% { opacity: 0.86;}
    100% { -webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
}
@-moz-keyframes pulsate {
    0% { -webkit-transform: scale(0.3, 0.3);  opacity: 0.0; }
    50% { opacity: 0.86; }
    100% { -webkit-transform: scale(1.0, 1.0); opacity: 0.0;  }
}
@-webkit-keyframes ShowImage {
    50% { -webkit-transform: scale(0.6, 0.6); opacity: 0.8;}
    100% { -webkit-transform: scale(1.0, 1.0); opacity: 1;}
}
@-moz-keyframes ShowImage {
    50% { -webkit-transform: scale(0.6, 0.6); opacity: 0.8;}
    100% { -webkit-transform: scale(1.0, 1.0); opacity: 1;}
}
@-moz-keyframes RotateImag { 
    0%   { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    10%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    20%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    30%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    40%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    50%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    60%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    70%  { -webkit-transform: rotate(-100deg); transform:rotate(-100deg);}
    80%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); }
    90%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    100% { -webkit-transform: rotate(-100deg); transform:rotate(-100deg); } 
}
@-webkit-keyframes RotateImag { 
    0%   { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    10%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    20%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    30%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    40%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    50%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    60%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    70%  { -webkit-transform: rotate(-100deg); transform:rotate(-100deg);}
    80%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); }
    90%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    100% { -webkit-transform: rotate(-100deg); transform:rotate(-100deg); } 
}
@keyframes RotateImag {
    0%   { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    10%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    20%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    30%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    40%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    50%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    60%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    70%  { -webkit-transform: rotate(-100deg); transform:rotate(-100deg);}
    80%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); }
    90%  { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    100% { -webkit-transform: rotate(-100deg); transform:rotate(-100deg); } 
}

@keyframes blinker {
    50% { opacity: 0; }
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(15deg); }
  3% { -webkit-transform: rotateZ(-14deg); }
  5% { -webkit-transform: rotateZ(17deg); }
  7% { -webkit-transform: rotateZ(-16deg); }
  9% { -webkit-transform: rotateZ(15deg); }
  11% { -webkit-transform: rotateZ(-14deg); }
  13% { -webkit-transform: rotateZ(13deg); }
  15% { -webkit-transform: rotateZ(-12deg); }
  17% { -webkit-transform: rotateZ(11deg); }
  19% { -webkit-transform: rotateZ(-10deg); }
  21% { -webkit-transform: rotateZ(9deg); }
  23% { -webkit-transform: rotateZ(-8deg); }
  25% { -webkit-transform: rotateZ(7deg); }
  27% { -webkit-transform: rotateZ(-6deg); }
  29% { -webkit-transform: rotateZ(5deg); }
  31% { -webkit-transform: rotateZ(-4deg); }
  33% { -webkit-transform: rotateZ(3deg); }
  35% { -webkit-transform: rotateZ(-1deg); }
  37% { -webkit-transform: rotateZ(1deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}
@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(15deg); }
  3% { -moz-transform: rotate(-14deg); }
  5% { -moz-transform: rotate(17deg); }
  7% { -moz-transform: rotate(-16deg); }
  9% { -moz-transform: rotate(15deg); }
  11% { -moz-transform: rotate(-14deg); }
  13% { -moz-transform: rotate(13deg); }
  15% { -moz-transform: rotate(-12deg); }
  17% { -moz-transform: rotate(11deg); }
  19% { -moz-transform: rotate(-10deg); }
  21% { -moz-transform: rotate(9deg); }
  23% { -moz-transform: rotate(-8deg); }
  25% { -moz-transform: rotate(7deg); }
  27% { -moz-transform: rotate(-6deg); }
  29% { -moz-transform: rotate(5deg); }
  31% { -moz-transform: rotate(-4deg); }
  33% { -moz-transform: rotate(3deg); }
  35% { -moz-transform: rotate(-2deg); }
  37% { -moz-transform: rotate(1deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}
@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(15deg); }
  3% { transform: rotate(-14deg); }
  5% { transform: rotate(17deg); }
  7% { transform: rotate(-16deg); }
  9% { transform: rotate(15deg); }
  11% { transform: rotate(-14deg); }
  13% { transform: rotate(13deg); }
  15% { transform: rotate(-12deg); }
  17% { transform: rotate(11deg); }
  19% { transform: rotate(-10deg); }
  21% { transform: rotate(9deg); }
  23% { transform: rotate(-8deg); }
  25% { transform: rotate(7deg); }
  27% { transform: rotate(-6deg); }
  29% { transform: rotate(5deg); }
  31% { transform: rotate(-4deg); }
  33% { transform: rotate(3deg); }
  35% { transform: rotate(-2deg); }
  37% { transform: rotate(1deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

